<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto" *ngFor="let genre of genres">
    <li class="nav-item">  
      <a class="nav-link" [routerLink]="['/movies/']" [queryParams]="{ genre: genre }" routerLinkActive='active'>{{genre}}</a>
    </li>
  </ul>
</nav>

<app-movie-search></app-movie-search>

<div class="container">
  <div *ngIf='movies'>
    <div *ngFor='let movie of movies'>
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
    <div *ngIf='movies ==""'>
      Pas de film dans cette catégorie pour le moment.
    </div>
  </div>
</div>
